.grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 10px;
}

.error-message {
    position: relative;
    bottom: 0;
    color: red;
    font-size: 12px;
    font-weight: bold;
    height: 0em; 
    line-height: 1.5em;
  }