
#createbar {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .startdiv {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-message {
    color: red;
  }
  
  #submit_button {
    margin-right: 10px;
  }
  
  #cancel_listing {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  #cancel_listing:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .btn-lg {
    padding: 10px 20px;
    font-size: 18px;
  }
  
  .my-2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  