html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    padding-bottom: 50px;
}

.hidden {
    display: none;

}
.disabled {
    opacity:0.6;
    cursor: not-allowed;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #003C71;
    color: #F2F2F2;
}

#navcolor {
    background-color:#003C71;
    color: #F2F2F2;
}

.navbar-nav .nav-link {
    color: #fff; /* Change the color to the desired value */
  }

/* This ID below is for login.html */
#createbuttons {
    display: flex;
    justify-content: space-between
}