{% extends "base.html" %} {% block content %}

<h3 class="my-3" align="center">Create a New Listing</h3>

{% macro render_input(label, placeholder, name, type="text") %}
<label for="{{ name }}" class="my-1" {% for k,v in kwargs.items() %} {{k}}="{{v}}" {% endfor %}>{{ label }}</label>
<input type="{{ type }}" class="form-control" id="{{ name }}" name="{{ name }}" value="{{ request.form[name] }}"
    placeholder="{{ placeholder }}" {% for k,v in kwargs.items() %} {{k}}="{{v}}" {% endfor %}>
  <ul class="my-2 text-danger">
    {% if errors[name] %}
    <li>{{ errors[name] }}</li>
    {% endif %}
  </ul>
{% endmacro %}

<form method="POST" enctype="multipart/form-data">
  {{ render_input('Title:','Enter title','title', required="") }}
  {{ render_input('Description:','Enter description','description') }}
  {{ render_input('Price:', 'Enter price', 'price', 'number', step='0.01', min='0') }}
  </ul>
  <button type="submit" class="btn btn-primary my-2">Create Listing</button>
</form>

{% endblock %}