{% extends "base.html" %} {% block content %}
<h5 class="my-3">Listing ID: {{ listing.id }}</h3>

{% macro render_input(label, placeholder, name, type="text") %}
<label for="{{ name }}" class="my-1" {% for k,v in kwargs.items() %} {{k}}="{{v}}" {% endfor %}>{{ label }}</label>
<input type="{{ type }}" class="form-control" id="{{ name }}" name="{{ name }}" value="{{ listing[name] }}"
    placeholder="{{ placeholder }}" {% for k,v in kwargs.items() %} {{k}}="{{v}}" {% endfor %}>
{% endmacro %}

    {{ render_input('Title:','Enter title','title', required="") }}
    {{ render_input('Description:','Enter description','description') }}
    {{ render_input('Price:', 'Enter price', 'price', 'number', step='0.01', min='0') }}
    <div class="row">
        {% for image in listing.images %}
        <div class="col-md-4">
            <img src="{{ url_for('public_view.get_image', image_id=image.id) }}" alt="{{ image.name }}" class="img-fluid">
            <button name="delete_image" value="{{ image.id }}" class="btn btn-warning"> Delete </button>
        </div>
        {% endfor %}
    </div>
    </ul>
    <button id="update_button" class="btn btn-primary my-2" name="update_listing">Update Listing</button>
    <button id="preview_button" class="btn btn-primary my-2" name="preview_listing">Preview Listing</button>
    <button id="delete_button" class="btn btn-danger my-2" name="delete_listing">Delete Listing</button>
{% endblock %}
{% block script %}
<script defer type="text/javascript" src="{{ url_for('static', filename='js/edit_listing.js') }}"></script>
{% endblock %}