{% extends "base.html" %} {% block content %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_listing.css') }}" />
{% endblock %}

<h5 class="my-3">Listing ID: {{ listing.id }}</h3>

<div class="startdiv">
    <label for="title">Title:</label>
    <input placeholder="Enter Title" id="title" type="text" value="{{ listing.title }}">
    <label for="price">Price:</label>
    <input placeholder="Enter Price" id="price" type="text" value="{{ listing.price }}">
    <label for="description">Description:</label>
    <input class="descsize" id="description" placeholder="Enter Description" type="text" value="{{ listing.description }}">
    <label for="image" class="my-1">Image:</label>
    <input type="file" class="form-control" id="image" name="image" multiple>
</div>

    <div class="row">
        {% for image in listing.images %}
        <div class="col-md-4">
            <img src="{{ url_for('public_view.get_image', image_id=image.id) }}" alt="{{ image.name }}" class="img-fluid">
            <button value="{{ image.id }}" class="btn btn-warning deleteImgBTN">Delete</button>
        </div>
        {% endfor %}
    </div>
    </ul>

    <div id="updatebuttons">
        <button id="update_button" class="btn btn-success my-2" name="update_listing">Update Listing</button>
        <button id="preview_button" class="btn btn-info my-2" name="preview_listing">Preview Listing</button>
        <button id="delete_button" class="btn btn-danger my-2" name="delete_listing">Delete Listing</button>
    </div>
{% endblock %}

{% block script %}
<script defer type="text/javascript" src="{{ url_for('static', filename='js/edit_listing.js') }}"></script>
{% endblock %}