<!DOCTYPE html>
<html lang="en">

<head>
  <title>Student Sales</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_listing.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sign_up.css') }}" />
  <script defer type="text/javascript" src="{{ url_for('static', filename='js/forgot_password.js') }}" /></script>
  <script defer type="text/javascript" src="{{ url_for('static', filename='js/sign_up.js') }}"></script>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
</head>

<body>
    <main>
        <div class="startdiv">
            <label for="password">New Password:</label>
            <input placeholder="Enter new password" id="password" type="text" value="">
            <div id="password_error"></div>
            <label for="conf_password">Confirm New Password:</label>
            <input placeholder="Confirm new password" id="conf_password" type="text" value="">
            <div id="conf_password_error" class="error-message"></div>
        </div>
        <div id="createbuttons">
            <button class="btn btn-primary btn-lg my-2" id="submit_button">Confirm</button>
            <button class="btn btn-danger btn-lg my-2" id="cancel_listing">Cancel</button>
        </div>
    </main>
</body>