{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forget_password.css') }}" />
{% endblock %}

{% block content %}
        <h1>Forgot Password</h1>
        <div class="startdiv">
            <label for="email">E-mail Address:</label>
            <input placeholder="Enter your email address" id="email" type="text" value="">
            <div id="error-message" class="error-message"></div>
            <label for="conf_email">Confirm E-mail address:</label>
            <input placeholder="Confirm your email address" id="conf_email" type="text" value="">
            <div id="conf_email_address" class="error-message"></div>
        </div>
        <div id="createbuttons">
            <button class="btn btn-primary btn-lg my-2" id="submit_button">Confirm</button>
            <button class="btn btn-danger btn-lg my-2" id="cancel_listing">Cancel</button>
        </div>
{% endblock %}

{% block script %}
<script defer type="text/javascript" src="{{ url_for('static', filename='js/forgot_password_email.js') }}"></script>
{% endblock %}
