{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forget_password.css') }}" />
{% endblock %}

{% block content %}
    <h3 class="my-2" align="center">Reset Password</h3>
      <div class="startdiv">
            <label for="password">New Password:</label>
            <input placeholder="Enter new password" id="password" type="text" value="">
            <div id="password_error"></div>
            <label for="conf_password">Confirm New Password:</label>
            <input placeholder="Confirm new password" id="conf_password" type="text" value="">
            <div id="conf_password_error" class="error-message"></div>
        </div>
        <div id="createbuttons">
            <button class="btn btn-primary btn-lg my-2" id="submit_button">Confirm</button>
            <button class="btn btn-danger btn-lg my-2" id="cancel_listing">Clear</button>
        </div>

{% endblock %}

{% block script %}
<script defer type="text/javascript" src="{{ url_for('static', filename='js/forgot_password.js') }}"></script>
{% endblock %}