{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}" />
{% endblock %}

{% block content %}
<h1 align="center" class="my-2 display-2">Welcome to Student Sales!</h1>

<form class="form-inline my-2 my-lg-0" action="{{ url_for('public_view.search') }}" method="get">
    <div class="search-container">
        <input class="form-control mr-20" type="search" placeholder="Search" aria-label="Search" name="query">
    </div>
    <div class="searchBTN-container">
        <button class="btn btn-primary my-2" type="submit" id="searchBTN">Search</button>
    </div>
</form>

{% endblock %}

{% block script %}
<script defer type="text/javascript" src="{{ url_for('static', filename='js/homepage.js') }}"></script>
{% endblock %}