{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/messages.css') }}">
{% endblock %}

{% block content %}
<h1 align="center" class="my-2">Messages</h1>
<h3 class="my-3">Hi {{ user.first_name }} {{ user.last_name }}, Welcome to your messages!</h3>

{% if messages %}
<div class="message-container">
    {% for msg in messages %}
    {% set message_history = msg.message | from_json %}
    <div class="message">
        <button type="submit" name="{{ msg.id }}" class="messageBTNS {% if message_history[-1]['id'] != current_user.id and msg.unread %}unread{% else %}read{% endif %}">
            <span><strong>Subject: </strong>{{ msg.subject }}</span>
            </br>
            <span><strong>Sender: </strong>{% if msg.buyer_id == current_user.id %} You {% else %} {{ msg.user.first_name }} {{msg.user.last_name }} {% endif %}</span>
            </br>
            <span><strong>Created: </strong>{{ msg.timestamp }}</span>
            </br>
            <a href="/view_listing/{{ msg.listing_id }}" class="btn btn-primary">View Listing</a>
        </button>
    </div>
    {% endfor %}
</div>

{% else %}
<p>You do not have any messages!</p>
{% endif %}

{% endblock %}

{% block script %}
<script defer type="text/javascript" src="{{ url_for('static', filename='js/messages.js') }}"></script>
{% endblock %}