{% extends "base.html" %} {% block content %}
<h3 align="center" class="my-3">Previewing Listing (ID: {{ listing.id }})</h3>

<h5  class="my-3">Posted</h5>
<p>{{ listing.date_posted }}</p>
<h5  class="my-3">Title</h5>
<p>{{ listing.title }}</p>
<h5  class="my-3">Description</h5>
<p>{{ listing.description }}</p>
<h5  class="my-3">Price</h5>
<p>{{ listing.price }}</p>

<h5 class="my-3">Images</h5>
{% if listing.images %}
<div class="row">
    {% for image in listing.images %}
    <div class="col-md-4 mx-auto">
        <img src="{{ url_for('views.get_image', image_id=image.id) }}" alt="{{ image.name }}" class="img-fluid">
    </div>
    {% endfor %}
    {% else %}
    <img src="{{ url_for('static', filename='images/defaultImage.png') }}" alt="no image uploadded" width="150" height="150">
    {% endif %}
</div>

<div class="text-center">
    <a href="{{ url_for('views.edit_listing', listing_id=listing.id) }}" class="text-decoration-none text-black">
        <button type="submit" class="btn btn-primary my-2" name="back">Go Back To Edit Listing</button>
    </a>
</div>
{% endblock %}