{% extends "base.html" %} {% block content %}
<form method="POST">
  <h3 class="my-3" align="center">Login</h3>
  <div class="form-group">
    <label for="email" class="my-1">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email address"
    />
  </div>
  <div class="form-group">
    <label for="password" class="my-1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
