{% extends "base.html" %} 

{% block css%}
<link rel="stylesheet" href="../static/css/create_listing.css">
{% endblock %}

{% block content %}
<h1 align="center" class="my-2">Profile</h1>
<h3 class="my-3">Hi {{ user.first_name }} {{ user.last_name }}, Welcome to your profile!</h3>
<div class="my-3">
    <a href="{{ url_for('private_view.create_listing') }}" class="btn btn btn-primary">Create Listing</a>
</div>

<h4>Here are your listings:</h4>
{% if user.listings %}
<div class="profile_listings_grid">
{% for listing in user.listings %}
<div class="listing">
    <a href="{{ url_for('views.edit_listing', listing_id=listing.id) }}" class="text-decoration-none text-black">
        <div class="listing-wrapper">
            <div class="listing-content">
                <h2>{{ listing.title[:20] }}</h2>
                <p>{{ listing.description[:18] }}...</p>
                <p>${{ listing.price }}</p>
            </div>
            {% if listing.images %}
                {% set image = listing.images[0] %}
                <div class="listing-image-wrapper">
                    <img class="listing-image" src="{{ url_for('public_view.get_image', image_id=image.id) }}" alt="Listing Image">
                </div>
            {% else %}
            <img src="{{ url_for('static', filename='images/defaultImage.png') }}" alt="no image uploaded" class="img-fluid">
            {% endif %}
        </div>
    </a>
</div>
{% endfor %}
</div>
{% else %}
<p>You have not made any listings.</p>
{% endif %}
{% endblock %}
